# Python & Ambientes virtuais
__pycache__/
*.py[cod]
venv/
.venv/

# PyInstaller / Resíduos anteriores
build/
dist/
*.spec

# Variáveis de ambiente com senhas do banco
.env

# Banco de dados local (se houver SQLite ou dumps)
*.db
*.sqlite3